/* ChessBoard.css */
.chessboard {
    display: grid;
    grid-template-rows: repeat(8, 1fr); /* Définir 8 colonnes égales */
    grid-template-columns: repeat(8, 1fr);    /* Définir 8 lignes égales */
    width: 400px;  /* Taille de l'échiquier */
    height: auto; /* Taille de l'échiquier */
    margin: 20px auto;
    aspect-ratio: 1;
    user-select: none;
  }
  
  .square {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Si nécessaire pour les ajustements */
    width: 100%;  /* Chaque case occupe 100% de l'espace de la colonne */
    aspect-ratio: 1;
    transition: transform 0.1s ease;
    box-shadow: 0 0 10px rgb(234, 70, 225);
    animation: rainbow-shadow 2s infinite linear;
  }

  @keyframes rainbow-shadow {
    0% {
        box-shadow: 0 0 10px rgb(234, 70, 225); /* Rose */
    }
    16% {
        box-shadow: 0 0 10px rgb(255, 0, 0); /* Rouge */
    }
    33% {
        box-shadow: 0 0 10px rgb(255, 165, 0); /* Orange */
    }
    50% {
        box-shadow: 0 0 10px rgb(255, 255, 0); /* Jaune */
    }
    66% {
        box-shadow: 0 0 10px rgb(0, 128, 0); /* Vert */
    }
    83% {
        box-shadow: 0 0 10px rgb(0, 0, 255); /* Bleu */
    }
    100% {
        box-shadow: 0 0 10px rgb(234, 70, 225); /* Retour au rose */
    }
}

  .white {
    background-color: #e7ccae;
  }
  
  .black {
    background-color: #683c13;
  }

  .square:hover {
    transform: scale(1.1);
    z-index: 10;
  }


  .piece {
    max-width: 70%;
    max-height: 70%;
    width: 70%;  /* Ajustez la taille de l'image pour qu'elle s'intègre bien */
    height: auto; /* Conserve le ratio d'aspect */
    pointer-events: none; /* Empêche de cliquer sur l'image */
    object-fit: contain;
    user-select: none;
}

.selected {
  outline: 1px solid rgb(34, 183, 59); /* Exemple */
  z-index: 5;
  box-shadow: 0 0 10px rgb(34, 183, 59); /* Effet lumineux */
}

.highlighted {
  z-index: 2;
  position: relative; /* Nécessaire pour positionner le cercle par rapport à l'élément */
}

.highlighted::after {
  content: ''; /* Permet d'ajouter un élément visuel */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%; /* Ajustez la taille selon vos besoins */
  height: 35%;
  background-color: rgba(0, 0, 0, 0.25); /* Cercle noir transparent */
  border-radius: 50%; /* Transforme l'élément en cercle */
  transform: translate(-50%, -50%); /* Centrer le cercle par rapport à l'élément */
  pointer-events: none; /* Permet de ne pas bloquer les interactions avec l'élément */
  z-index: 20; /* Place le cercle derrière l'élément */
}