/* ChessBoard.css */
.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* Définir 8 colonnes égales */
    grid-template-rows: repeat(8, 1fr);    /* Définir 8 lignes égales */
    width: 400px;  /* Taille de l'échiquier */
    height: auto; /* Taille de l'échiquier */
    margin: 20px auto;
    aspect-ratio: 1;
  }
  
  .square {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Si nécessaire pour les ajustements */
    width: 100%;  /* Chaque case occupe 100% de l'espace de la colonne */
    aspect-ratio: 1;
    transition: transform 0.1s ease;
  }



  .white {
    background-color: #e7ccae;
  }
  
  .black {
    background-color: #683c13;
  }

  .square:hover {
    transform: scale(1.1);
    z-index: 1;
  }


  .piece {
    max-width: 70%;
    max-height: 70%;
    width: 70%;  /* Ajustez la taille de l'image pour qu'elle s'intègre bien */
    height: auto; /* Conserve le ratio d'aspect */
    pointer-events: none; /* Empêche de cliquer sur l'image */
    object-fit: contain;
}

.selected {
  outline: 1px solid rgb(34, 183, 59); /* Exemple */
  z-index: 2;
  box-shadow: 0 0 10px rgb(34, 183, 59); /* Effet lumineux */
}